<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ProcessName" value="" />
    <add key="SlackURL" value="" />
    <add key="rotationNotifyTimeMS" value="21600000" />
    <add key="pollingIntervalMS" value="10000" />
    <add key="SequentialBadBehaviourFrameSize" value="10" />
    <add key="AnalysisWindowSize" value="30" />
    <add key="SlackEnabled" value="1" />
    <add key="SlackMention" value="&lt;&gt;" />
  </appSettings>
</configuration>